RewriteEngine On
RewriteBase /

# Rewrite requests for files with extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+\..+)$ /dist/client/$1 [L]

# Rewrite root to /dist/client/index.html
RewriteRule ^$ /dist/client/index.html [L]

# Rewrite all other requests to /dist/client/index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /dist/client/index.html [L]
