RewriteEngine On

# Redirect all requests to /dist/client/index.html
RewriteCond %{REQUEST_URI} !^/dist/client/index.html
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteRule ^(.*)$ /dist/client/index.html [L]
